{% load static %}
<img src="{% static 'assets/image/products/product-1.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-2.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-3.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-4.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-5.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-6.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-7.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-8.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-9.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-10.jpg'%}" alt="logo">

<img src="{% static 'assets/image/products/product-11.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-12.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-13.jpg'%}" alt="logo">
<img src="{% static 'assets/image/products/product-15.jpg'%}" alt="logo">
