{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb -->
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>Giới Thiệu Chung</h2>
				<ul>
					<li><a href="{%url 'store'%}">Trang Chủ</a></li>
					<li><a href="">Giới Thiệu</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content" class="about_page">
<!-- about Us -->
	<div id="about_us" class="about_section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<div class="about_text wow slideInLeft">
						<h2>Chào Mừng đến với Fashion Shop</h2>
						<p>Chúng tôi hiểu rằng "Thời trang không phải chỉ là mặc một chiếc áo đẹp mà là mặc một chiếc áo thật sự phù hợp với mình</p>
						<p>Fashion Shop luôn đặt câu hỏi: "Khách hàng cần gì và có được gì khi đến với Fashion Shop?" từ đó những sản phẩm đến tay khách hàng cũng chính là những gì Fashion Shop muốn gửi gắm.Nếu bạn đang tìm kiếm điểm dừng chân lí tưởng để thoả sức trải nghiệm mua sắm, hãy đến Fashion Shop !!!!</p>
						
						<p>Dù bạn yêu thích phong cách thời trang nào, hay đang trong quá trình định hình phong cách của bản thân, hãy đến Fashion Shop để nhận được những gì bạn đang tìm kiếm nhé.</p>
						
						<h3>Liên Hệ Ngay</h3>
						<h2 class="about_contact"><i class="fa fa-volume-control-phone"></i> +81-386684223</h2>
						{% comment %} <a href="#" class="btn">Xem Thêm</a> {% endcomment %}
					</div>
				</div>
				<div class="col-sm-6">
					<div class="about_images wow slideInRight">
						<img src="{% static 'assets/image/about_img-2.jpg'%}" width="100%" alt="silder images" title="silder images">
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- about Us end-->
<!-- Our Astrologers Work for You -->
<div id="website_visitors" class="astrologers-work">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<div class="astrologers_title">
					<h2 class="wow fadeInDown animated">Bạn chính là chủ của Fashion Shop</h2>
					<p class="wow fadeInDown animated">Đội ngũ của chúng tôi luôn giao hàng 24/24</p>
					<p class="wow fadeInDown animated">Đội ngũ nhân viên của chúng tôi luôn sẵn sàng giúp bạn tìm ra gu thời trang phù hợp và mang lại hạnh phúc trong cuộc sống của bạn.</p>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="astrologers_visitors">
					<div class="col-sm-6">
						<div class="astrologers_experience">
							<h3 class="wow fadeInDown animated number-counter" data-count-from="0" data-count-to="10" data-count-speed="30"></h3>
							<h5 class="wow fadeInDown animated">Kinh Nghiệm Kinh Doanh (Tháng)</h5>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="astrologers_experience">
							<h3 class="wow fadeInDown animated number-counter" data-count-from="0" data-count-to="15" data-count-speed="30"></h3>
							<h5 class="wow fadeInDown animated">Nhãn Hiệu Tốt Nhất</h5>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="astrologers_experience">
							<h3 class="wow fadeInDown animated number-counter" data-count-from="0" data-count-to="17" data-count-speed="30"></h3>
							<h5 class="wow fadeInDown animated">Giá cả hợp lí</h5>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="astrologers_experience">
							<h3 class="wow fadeInDown animated number-counter" data-count-from="0" data-count-to="10000000" data-count-speed="30"></h3>
							<h5 class="wow fadeInDown animated">Số người đang truy cập</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Our Services -
	<div id="services" class="services_section">
		<div class="container-fluid">
			<div class="heading_wrapper wow fadeInDown animated">
				<h2 class="wow fadeInDown animated">Our Services</h2>
				<p class="wow fadeInDown animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="services_matter">
						<img class="wow fadeInDown animated" src="{% static 'assets/image/services/services3.jpg'%}" alt="Kundli Dosha" title="Kundli Dosha" width="100%">
						<h4 class="wow fadeInDown animated"><a href="full_services_page.html">Kundli Dosha</a></h4>
						<p class="wow fadeInDown animated">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
						<a href="full_services_page.html" class="btn wow fadeInDown animated">Read More</a>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="services_matter">
						<img class="wow fadeInDown animated" src="{% static 'assets/image/services/services2.jpg'%}" alt="Kundli Dosha" title="Kundli Dosha" width="100%">
						<h4 class="wow fadeInDown animated" ><a href="full_services_page.html">Personal Consultation</a></h4>
						<p class="wow fadeInDown animated" >Contrary to popular belief, Lorem Ipsum is not simply random text</p>
						<a href="full_services_page.html" class="btn wow fadeInDown animated">Read More</a>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="services_matter">
						<img class="wow fadeInDown animated" src="{% static 'assets/image/services/services1.jpg'%}" alt="Kundli Dosha" title="Kundli Dosha" width="100%">
						<h4 class="wow fadeInDown animated"><a href="full_services_page.html">Face Reading</a></h4>
						<p class="wow fadeInDown animated">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
						<a href="full_services_page.html" class="btn wow fadeInDown animated">Read More</a>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="services_matter">
						<img class="wow fadeInDown animated" src="{% static 'assets/image/services/services1.jpg'%}" alt="Kundli Dosha" title="Kundli Dosha" width="100%">
						<h4 class="wow fadeInDown animated"><a href="full_services_page.html">Face Reading</a></h4>
						<p class="wow fadeInDown animated" >Contrary to popular belief, Lorem Ipsum is not simply random text</p>
						<a href="full_services_page.html" class="btn wow fadeInDown animated">Read More</a>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="services_matter">
						<img class="wow fadeInDown animated" src="{% static 'assets/image/services/services3.jpg'%}" alt="Kundli Dosha" title="Kundli Dosha" width="100%">
						<h4 class="wow fadeInDown animated"><a href="full_services_page.html">Kundli Dosha</a></h4>
						<p class="wow fadeInDown animated">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
						<a href="full_services_page.html" class="btn wow fadeInDown animated">Read More</a>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="services_matter">
						<img class="wow fadeInDown animated" src="{% static 'assets/image/services/services2.jpg'%}" alt="Kundli Dosha" title="Kundli Dosha" width="100%">
						<h4 class="wow fadeInDown animated" ><a href="full_services_page.html">Personal Consultation</a></h4>
						<p class="wow fadeInDown animated">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
						<a href="full_services_page.html" class="btn wow fadeInDown animated">Read More</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
- Our Services End-->
<!-- testimonial -->
	<div id="testimonials" class="testimonial_section">
		<div class="container-fluid">
			<div class="heading_wrapper wow fadeInDown animated">
				<h2 class="wow fadeInDown animated">Khách Hàng Nói Gì Về Cửa Hàng</h2>
				<!-- <p class="wow fadeInDown animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p> -->
			</div>
				<div class="row">
					<div id="testimonial" class="owl-carousel owl-theme">
						<div class="item">
							<div class="col-sm-12">
								<div class="testimonial_inner_matter">
									<img src="{% static 'assets/image/testimonial/1.jpg'%}" class="wow fadeInDown animated">
									<p class="wow fadeInDown animated">Sản phẩm theo trend, giá cả hợp lí.</p>
									<h5 class="wow fadeInDown animated">Nguyễn Văn A</h5>
									<h6 class="wow fadeInDown animated">Nam</h6>
								</div>
							</div>
						</div>
						
						<div class="item">
							<div class="col-sm-12">
								<div class="testimonial_inner_matter">
									<img src="{% static 'assets/image/testimonial/2.jpg'%}" class="wow fadeInDown animated">
									<p class="wow fadeInDown animated">Nhân viên thân thiện, sẽ quay lại.</p>
									<h5 class="wow fadeInDown animated">Nguyễn Thị B</h5>
									<h6 class="wow fadeInDown animated">Nữ</h6>
								</div>
							</div>
						</div>
						
						<div class="item">
							<div class="col-sm-12">
								<div class="testimonial_inner_matter">
									<img src="{% static 'assets/image/testimonial/3.jpg'%}" class="wow fadeInDown animated">
									<p class="wow fadeInDown animated">Ship nhanh, giày đẹp</p>
									<h5 class="wow fadeInDown animated">Trần Thế C</h5>
									<h6 class="wow fadeInDown animated">Nam</h6>
								</div>
							</div>
						</div>
						
						<div class="item">
							<div class="col-sm-12">
								<div class="testimonial_inner_matter">
									<img src="{% static 'assets/image/testimonial/4.jpg'%}" class="wow fadeInDown animated">
									<p class="wow fadeInDown animated">5*</p>
									<h5 class="wow fadeInDown animated">Trần Thị D</h5>
									<h6 class="wow fadeInDown animated">Nữ</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
<!-- testimonial end -->
</div>
<!-- Footer Section -->
	
<script>
$(document).ready(function(){
	$('#testimonial').owlCarousel({	
		items: 3,
		itemsDesktop:[1199,3],
		itemsDesktopSmall:[992,3],
		itemsTablet:[768,2],
		itemsMobile:[450,1],
		autoPlay: 10000,
		pagination: true,
		navigation: true,
		navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>']
	});
});
</script>
{% endblock content %}
