{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb -->
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>Blog Details</h2>
				<ul>
					<li><a href="{%url 'store'%}">Home</a></li>
					<li><a href="">Blog Details</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content" class="blog_page blog_details">
<!-- Our Services -->
	<div id="blogs" class="blog_section">
		<div class="container-fluid">
			<div class="row">		
				<div class="col-sm-9">
					<div class="eb_left">
						<div class="col-sm-12">
							<div class="blog_inner_matter">
								<div class="image">
									<a href=""><img src="{{blog.imageURL}}" class="wow fadeInDown animated"></a>
								</div>
								<div class="admin_and_comments wow fadeInDown animated">
									<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
									{% comment %} <span class="comments_date blog_admin"><span><i class="fa fa-comments-o"></i> 10 comments</span></span> {% endcomment %}
									<span class="comments_date blog_dates"><span><i class="fa fa-clock-o"></i> {{blog.time}}</span></span>
								</div>
								<h2 class="wow fadeInDown animated"><a href="">{{blog.title}}</a></h2>
								<p class="wow fadeInDown animated">{{blog.description|linebreaks}}</p>
								</div>
								
								
							<div class="comment-content wow bounceInUp animated">
								<div class="comments-wrapper">
								<h3> Comments </h3>
									<ol class="commentlist">
										{%for comment in blog.comments.all%}
										<li class="comment">
											<div>
												<img alt="" src="{% static 'assets/image/member/member.png'%}" class="avatar avatar-60 photo">
												<div class="comment-text">

													
													<p class="meta">
														<strong>{{comment.user.username}}</strong> 
														<span>–</span> <time>{{comment.date_added.date}}</time>
													</p>
													<div class="description"><p>{{comment.description |linebreaks }}</p>
													
													</div>
												</div>
											</div>
										</li><!-- #comment-## -->
										{%endfor%}
									</ol>
								<!--commentlist--> 
								</div>
								<!--comments-wrapper-->

								<div class="comments-form-wrapper clearfix comment-respond">
									{%if user.username%}

									<h3>Leave A reply</h3>
									<form class="comment-form" method="post" id="postComment" action="">
										{% csrf_token%}
										<div class="clear"></div>
										<div class="field aw-blog-comment-area">
											<label for="comment">Comment<em class="required">*</em></label>
											<textarea rows="5" cols="40" class="input-text" title="Comment" id="comment" name="comment"></textarea>
										</div>
										<div style="width:96%" class="button-set">
											<input type="hidden" value="1" name="blog_id">
											<button type="submit" class="btn submit"><span><span>Add Comment</span></span></button>
										</div>
									</form>
									{%else%}
									{%endif%}
								</div>
								<!--comments-form-wrapper clearfix--> 

							</div>	

						</div>
							</div>
						</div>
					<!-- right side -->
						<div class="col-sm-3">
							<div class="eb_right">
								<!-- category -->
								{% comment %} <div id="category" class="category blog_margin">
									<h3 class="wow fadeInDown animated">category</h3>
										<ul class="wow fadeInDown animated">
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Book</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Candle</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Compatibility</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Magnet</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Mineral</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Natural</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Personal</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Stone</a></li>
										</ul>
								</div> {% endcomment %}
								<!-- category end-->
							<!-- sidebar_blog -->
								<div id="sidebar_blog" class="sidebar_blog blog_margin">
									<h3 class="wow fadeInDown animated">Latest Blogs </h3>
									<div class="row">
										{%for blog in blogs%}
										<div class="col-sm-12">
											<div class="blog_inner_matter">
												<div class="image">
													<a href="{%url 'blog_details' blog.id %}"><img src="{{blog.imageURL}}" class="wow fadeInDown animated"></a>
													<div class="blog_date  wow fadeInDown animated">
														<span>{{blog.time.date}}<span>
													</div>
												</div>
												<div class="blog_text_matter">
												<h3 class="wow fadeInDown animated"><a href="{%url 'blog_details' blog.id %}">{{blog.title}}</a></h3>
													<div class="admin_and_comments wow fadeInDown animated">
														<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
													</div>
													
													<a href="{%url 'blog_details' blog.id %}" class="btn wow fadeInDown animated" >Read More</a>
												</div>
												<div class="clear"></div>
											</div>
										</div>
										{%endfor%}
									</div>
								</div>
								<!-- tags -->
								<div id="tags" class="tags blog_margin">
									<h3 class="wow fadeInDown animated">Tags</h3>
									<ul class="big_tags wow fadeInDown animated">
										{% for tag in blog.tags.all %}

										<li><a class="tag btn" href="#">{{tag.name}}</a></li>
									{% endfor %}

									</ul>
								</div>
								<!-- tags -->
							</div>
						</div>
			</div>
		</div>
	</div>
<!-- Our Services End-->

</div>
{% endblock content %}
