{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>Blog Grid View right</h2>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="">Blog Grid View right</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content" class="blog_page blog_margin_sidbar blog_right_side">
<!-- Our Services -->
	<div id="blogs" class="blog_section">
		<div class="container-fluid">
			<div class="row">		
				<div class="col-sm-9">
					<div class="eb_left">
						<div class="col-sm-4">
							<div class="blog_inner_matter">
								<div class="image">
									<a href=""><img src="assets/image/blog/1.jpg" class="wow fadeInDown animated"></a>
									<div class="blog_date  wow fadeInDown animated">
										<span>01-04-2020<span>
									</div>
								</div>
								<div class="admin_and_comments wow fadeInDown animated">
									<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
									<span class="comments_date"><span><i class="fa fa-comments-o"></i> 10 comments</span></span>
								</div>
								<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor aliquet.</a></h3>
								<p class="wow fadeInDown animated">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
								<a href="" class="btn wow fadeInDown animated" >Read More</a>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="blog_inner_matter">
								<div class="image">
									<a href=""><img src="assets/image/blog/3.jpg" class="wow fadeInDown animated"></a>
									<div class="blog_date  wow fadeInDown animated">
										<span>01-04-2020<span>
									</div>
								</div>
								<div class="admin_and_comments wow fadeInDown animated">
									<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
									<span class="comments_date"><span><i class="fa fa-comments-o"></i> 10 comments</span></span>
								</div>
								<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor aliquet.</a></h3>
								<p class="wow fadeInDown animated">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
								<a href="" class="btn wow fadeInDown animated" >Read More</a>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="blog_inner_matter">
								<div class="image">
									<a href=""><img src="assets/image/blog/2.jpg" class="wow fadeInDown animated"></a>
									<div class="blog_date  wow fadeInDown animated">
										<span>01-04-2020<span>
									</div>
								</div>
								<div class="admin_and_comments wow fadeInDown animated">
									<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
									<span class="comments_date"><span><i class="fa fa-comments-o"></i> 10 comments</span></span>
								</div>
								<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor aliquet.</a></h3>
								<p class="wow fadeInDown animated">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
								<a href="" class="btn wow fadeInDown animated" >Read More</a>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="blog_inner_matter">
								<div class="image">
									<a href=""><img src="assets/image/blog/1.jpg" class="wow fadeInDown animated"></a>
									<div class="blog_date  wow fadeInDown animated">
										<span>01-04-2020<span>
									</div>
								</div>
								<div class="admin_and_comments wow fadeInDown animated">
									<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
									<span class="comments_date"><span><i class="fa fa-comments-o"></i> 10 comments</span></span>
								</div>
								<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor aliquet.</a></h3>
								<p class="wow fadeInDown animated">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
								<a href="" class="btn wow fadeInDown animated" >Read More</a>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="blog_inner_matter">
								<div class="image">
									<a href=""><img src="assets/image/blog/1.jpg" class="wow fadeInDown animated"></a>
									<div class="blog_date  wow fadeInDown animated">
										<span>01-04-2020<span>
									</div>
								</div>
								<div class="admin_and_comments wow fadeInDown animated">
									<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
									<span class="comments_date"><span><i class="fa fa-comments-o"></i> 10 comments</span></span>
								</div>
								<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor aliquet.</a></h3>
								<p class="wow fadeInDown animated">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
								<a href="" class="btn wow fadeInDown animated" >Read More</a>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="blog_inner_matter">
								<div class="image">
									<a href=""><img src="assets/image/blog/3.jpg" class="wow fadeInDown animated"></a>
									<div class="blog_date  wow fadeInDown animated">
										<span>01-04-2020<span>
									</div>
								</div>
								<div class="admin_and_comments wow fadeInDown animated">
									<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
									<span class="comments_date"><span><i class="fa fa-comments-o"></i> 10 comments</span></span>
								</div>
								<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor aliquet.</a></h3>
								<p class="wow fadeInDown animated">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
								<a href="" class="btn wow fadeInDown animated" >Read More</a>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="blog_inner_matter">
								<div class="image">
									<a href=""><img src="assets/image/blog/2.jpg" class="wow fadeInDown animated"></a>
									<div class="blog_date  wow fadeInDown animated">
										<span>01-04-2020<span>
									</div>
								</div>
								<div class="admin_and_comments wow fadeInDown animated">
									<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
									<span class="comments_date"><span><i class="fa fa-comments-o"></i> 10 comments</span></span>
								</div>
								<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor aliquet.</a></h3>
								<p class="wow fadeInDown animated">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
								<a href="" class="btn wow fadeInDown animated" >Read More</a>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="blog_inner_matter">
								<div class="image">
									<a href=""><img src="assets/image/blog/1.jpg" class="wow fadeInDown animated"></a>
									<div class="blog_date  wow fadeInDown animated">
										<span>01-04-2020<span>
									</div>
								</div>
								<div class="admin_and_comments wow fadeInDown animated">
									<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
									<span class="comments_date"><span><i class="fa fa-comments-o"></i> 10 comments</span></span>
								</div>
								<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor aliquet.</a></h3>
								<p class="wow fadeInDown animated">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
								<a href="" class="btn wow fadeInDown animated" >Read More</a>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="blog_inner_matter">
								<div class="image">
									<a href=""><img src="assets/image/blog/1.jpg" class="wow fadeInDown animated"></a>
									<div class="blog_date  wow fadeInDown animated">
										<span>01-04-2020<span>
									</div>
								</div>
								<div class="admin_and_comments wow fadeInDown animated">
									<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
									<span class="comments_date"><span><i class="fa fa-comments-o"></i> 10 comments</span></span>
								</div>
								<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor aliquet.</a></h3>
								<p class="wow fadeInDown animated">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
								<a href="" class="btn wow fadeInDown animated" >Read More</a>
							</div>
						</div>
						<div class="clear"></div>
							<!-- Pagination -->
								<div class="pagination-section text-center wow fadeInDown animated">
									<a href="#" class="prev page-numbers"><i class="fa fa-angle-left"></i></a>
									<span class="page-numbers current" aria-current="page">1</span>
									<a href="#" class="page-numbers">2</a>
									<a href="#" class="page-numbers">3</a>
									<a href="#" class="page-numbers">4</a>
									<a href="#" class="page-numbers">5</a>
									<a href="#" class="next page-numbers"><i class="fa fa-angle-right"></i></a>
								</div>
							<!-- Pagination End-->
						
							</div>
						</div>
					<!-- right side -->
						<div class="col-sm-3">
							<div class="eb_right">
								<!-- category -->
								<div id="category" class="category blog_margin">
									<h3 class="wow fadeInDown animated">category</h3>
										<ul class="wow fadeInDown animated">
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Book</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Candle</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Compatibility</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Magnet</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Mineral</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Natural</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Personal</a></li>
											<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Stone</a></li>
										</ul>
								</div>
								<!-- category end-->
							<!-- sidebar_blog -->
								<div id="sidebar_blog" class="sidebar_blog blog_margin">
									<h3 class="wow fadeInDown animated">Latest Blogs </h3>
									<div class="row">
										<div class="col-sm-12">
											<div class="blog_inner_matter">
												<div class="image">
													<a href=""><img src="assets/image/blog/1.jpg" class="wow fadeInDown animated"></a>
													<div class="blog_date  wow fadeInDown animated">
														<span>01-04-2020<span>
													</div>
												</div>
												<div class="blog_text_matter">
												<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor..</a></h3>
													<div class="admin_and_comments wow fadeInDown animated">
														<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
													</div>
													
													<a href="" class="btn wow fadeInDown animated" >Read More</a>
												</div>
												<div class="clear"></div>
											</div>
										</div>
										
										<div class="col-sm-12">
											<div class="blog_inner_matter">
												<div class="image">
													<a href=""><img src="assets/image/blog/1.jpg" class="wow fadeInDown animated"></a>
													<div class="blog_date  wow fadeInDown animated">
														<span>01-04-2020<span>
													</div>
												</div>
												<div class="blog_text_matter">
												<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor..</a></h3>
													<div class="admin_and_comments wow fadeInDown animated">
														<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
													</div>
													
													<a href="" class="btn wow fadeInDown animated" >Read More</a>
												</div>
												<div class="clear"></div>
											</div>
										</div>
										
										<div class="col-sm-12">
											<div class="blog_inner_matter">
												<div class="image">
													<a href=""><img src="assets/image/blog/1.jpg" class="wow fadeInDown animated"></a>
													<div class="blog_date  wow fadeInDown animated">
														<span>01-04-2020<span>
													</div>
												</div>
												<div class="blog_text_matter">
												<h3 class="wow fadeInDown animated"><a href="">Proin gravida nibh vel velit auctor..</a></h3>
													<div class="admin_and_comments wow fadeInDown animated">
														<span class="blog_admin"><span><i class="fa fa-user-o"></i> Post By</span> <span><a href="">Admin</a></span></span>
													</div>
													
													<a href="" class="btn wow fadeInDown animated" >Read More</a>
												</div>
												<div class="clear"></div>
											</div>
										</div>
										
									</div>
								</div>
								<!-- tags -->
								<div id="tags" class="tags blog_margin">
									<h3 class="wow fadeInDown animated">Tags</h3>
									<ul class="big_tags wow fadeInDown animated">
										<li><a class="tag btn" href="#">Kundli Dosha</a></li>
										<li><a class="tag btn" href="#">Consultation</a></li>
										<li><a class="tag btn" href="#">Face Reading</a></li>
										<li><a class="tag btn" href="#">marrige</a></li>
										<li><a class="tag btn" href="#">business</a></li>
										<li><a class="tag btn" href="#">children</a></li>
									</ul>
								</div>
								<!-- tags -->
							</div>
						</div>
			</div>
		</div>
	</div>
<!-- Our Services End-->

</div>
{% endblock content %}