{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>Liên Hệ Ngay</h2>
				<ul>
					<li><a href="{%url 'store'%}">Cửa Hàng</a></li>
					<li><a href="">Liên Hệ</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content" class="contact_page">
<!-- Our Services -->
	<div id="contact">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<div class="block-sm login_box">
						{%for message in messages%}
						<h4 id = "messages" class="custom-control-label register-remember"> {{message}} </h4>
						{%endfor%}
						<h3>Nhập Thông Tin Liên Lạc</h3>
						<p>Chúng tôi luôn hoạt động 24/7. Bạn có thể sử dụng form điền nhanh để hỏi về dịch vụ và các sản phẩm bên cửa hàng</p>
						<div class="comments-form-wrapper clearfix comment-respond">
							<form class="comment-form" method="post" id="postComment" action="{%url 'feedback' %}">
								{%csrf_token%}
								<div class="field">
									<label for="name">Họ Và tên<em class="required">*</em></label>
									<input type="text" class="input-text" title="Name" value="" id="user" name="name">
								</div>
								<div class="field">
									<label for="email">Địa chỉ email<em class="required">*</em></label>
									<input type="text" class="input-text validate-email" title="Email" value="" id="email" name="email">
								</div>
								<div class="clear"></div>
								<div class="field aw-blog-comment-area">
									<label for="comment">Câu hỏi của bạn<em class="required">*</em></label>
									<textarea rows="5" cols="50" class="input-text" title="Comment" id="comment" name="comment"></textarea>
								</div>
								<div style="width:96%" class="button-set">
									<input type="hidden" value="1" name="blog_id">
									<button type="submit" class="btn submit"><span><span>Gửi</span></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="contact-box-wrap">
						<div class="contact-box">
						  <div class="contact-box-item">
							<p class="contact-box-title">Các mạng xã hội</p>
								<ul class="top-header-social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
						  </div>
						  <div class="contact-box-item">
							<p class="contact-box-title">Số Điện Thoại</p>
							<div class="link-inline"><a href="#"><i class="fa fa-phone"></i> +81-386684223</a></div>
						  </div>
						  <div class="contact-box-item">
							<p class="contact-box-title">E-mail</p>
							<div class="link-inline"><a href="#"><i class="fa fa-envelope-o"></i> hosiluan1003@gmail.com</a></div>
						  </div>
						  <div class="contact-box-item">
							<p class="contact-box-title">Address</p>
							<div class="link-inline link-inline-top"><a href="#"><i class="fa fa-map-marker"></i> Khu Phố 6, TP Thủ Đức, TP Hồ Chí Minh</a></div>
						  </div>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</div>
<!-- Our Services End-->

</div>
{% endblock content %}
