{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<title>Fashion Shop | Đăng nhập</title>
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>Đăng Nhập</h2>
				<ul>
					<li><a href="{%url 'store'%}">Trang Chủ</a></li>
					<li><a href="">Đăng Nhập</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content" class="cart_page checkout_page register_page login_page">
<!-- cart -->
	<div id="register" class="cart_section checkout_section register_section">
		<div class="container-fluid" id="checkout">
				
			<div class="row billing_and_payment_option wow fadeInDown   animated">
				<div class="heading_wrapper wow fadeInDown animated">
					<h2 class="wow fadeInDown animated">Đăng Nhập Tài Khoản</h2>

					
				</div>
				<!-- Billing Address -->
				<div class="login_box">
					<h3>Tài Khoản</h3>
					{%for message in messages%}
					<h4 id = "messages" class="custom-control-label register-remember"> {{message}} </h4>
					{%endfor%}
						<form method = "POST" class="eb-form eb-mailform form-checkout" novalidate="novalidate">
							{% csrf_token%}
							<div class="form-wrap">
								<input class="form-input form-control" id="checkout-email-1" type="text" name="username" data-constraints=" @Required" placeholder="User Name">
							</div>
							<div class="form-wrap">
								<input class="form-input form-control" id="checkout-city-1" type="password" name="password" data-constraints="@Required" placeholder="Password">
							</div>
							<div class="custom-control custom-checkbox">
								{% comment %} <input type="checkbox" class="custom-control-input" id="defaultUnchecked"> {% endcomment %}
								{% comment %} <label class="custom-control-label register-remember" for="defaultUnchecked">Remember me on this device</label> {% endcomment %}
                            </div>
							<input type = "submit" class="btn " name = "Login">
							
							<p class="signInclass"> Bạn Chưa Có Tài Khoản?  &nbsp;<a href="{%url 'register' %}">Đăng Kí Ngay</a> </p>
						
					</form>
					<div class="clear"></div>
				</div>
				<!-- Delivery Address  -->
			</div>
			<!-- your shopping cart -->
		</div>	
	</div>	
<!-- cart end-->	
</div>
{% endblock content %}
