{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>Sản Phẩm</h2>
				<ul>
					<li><a href="{%url 'store'%}">Trang Chủ</a></li>
					<li><a href="">Sản Phẩm</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content" class="products_page">
<!-- products -->
	<div id="products" class="products_section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<div class="eb_right">
						<!-- category -->
						<div id="category" class="category">
							<h3 class="wow fadeInDown animated">Danh Mục</h3>
								<ul class="wow fadeInDown animated">
									{%for category in categories%}
									<li><a href="{%url 'category' category.pk %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{category.name}}</a></li>
									{%endfor%}
								</ul>
						</div>
						<!-- category end-->
						
						<!-- category product -->

						<!-- products category end-->
						
					</div>
				</div>
				
				<div class="col-sm-9">
					<div class="eb_left">
					<!-- product-list-top -->
						<div class="product-list-top">
							<div class="sort-by-wrapper">
								{%if category%}
									<h3>Sản phẩm liên quan đến {{category.name}}</h3>
								{%endif%}
								{%if q%}
								<h3>Sản phẩm liên quan đến {{q}}</h3>
							{%endif%}
								  {% comment %} <div class="col-md-6 col-xs-6 sort">
										<div class="form-group input-group input-group-sm wow fadeInDown pull-left">
											<label class="input-group-addon" for="input-sort">Sort By:</label>
											<div class="select-wrapper">
												<select id="input-sort" class="form-control">
													<option value="" selected="selected">Default</option>
													<option value="">Name (A - Z)</option>	
													<option value="">Name (Z - A)</option>
													<option value="">Price (Low &gt; High)</option>
													<option value="">Price (High &gt; Low)</option>
													<option value="">Rating (Highest)</option>
													<option value="">Rating (Lowest)</option>
													<option value="">Model (A - Z)</option>
													<option value="">Model (Z - A)</option>
												</select>
											</div>
										</div>
								  </div>
							</div>

							<div class="show-wrapper">
								<div class="col-md-6 col-xs-6">
									<div class="form-group input-group input-group-sm wow fadeInDown pull-right">
										<label class="input-group-addon" for="input-limit">Show:</label>
										<div class="select-wrapper">
											<select id="input-limit" class="form-control" onchange="location = this.value;">
												<option value="" selected="selected">15</option>
												<option value="">25</option>
												<option value="">50</option>
												<option value="">75</option>
												<option value="">100</option>									  
											</select>
										</div>
									</div>
								</div>
							</div> {% endcomment %}
							<div class="clear"></div>
						</div>
					<!-- product-list-top -->
			<!--1 -->
						 {% for product in category.products.all%}
						<div class="col-sm-4">
							<div class="product-thumb">
								<div class="image wow fadeInDown animated">
									<a href="{%url 'single_product' product.id %}"><img class="wow fadeInDown animated" src="{{product.imageURL}}" alt="Kundli Dosha" title="Kundli Dosha" width="100%"></a>
									
									<div class="sale"><span class="">Sale</span></div>
									<div class="button-group">
										<div class="inner">
											
											<button type="button" title="Quick View" class="button-quickview"><span>Quick View</span></button>
											<button type="button" title="Add to Wish List" class="button-wishlist"><span>Add to Wish List</span></button>
											<button type="button" title="Compare this Product" class="button-compare"><span>Compare this Product</span></button>
										</div>
									</div>
								</div>
								<div class="caption">
									
									<div class="rate-and-title">
										<h4 class="wow fadeInDown animated"><a href="{%url 'single_product' product.id %}">{{product.name}}</a></h4>
										<div class="rating wow fadeInDown animated">
											{% with ''|center:product.aaaa as range %}
											{% for _ in range %}
											<span><i class="fa fa-star"></i></span>	
											{% endfor %}
											{% endwith %}
											{% with ''|center:product.aaa as range %}
											{% for _ in range %}
												<span><i class="fa fa-star-o"></i></span>
											{% endfor %}
											{% endwith %}
											<a href="" onclick="">({{product.review_times}})</a> 
											<div class="clear"></div>
											<div class="clear"></div>
										</div>
										<p class="price wow fadeInDown animated">
											 <span class="price-new">{{product.price}}.000đ</span>  <span class="price-old">{{product.unsale_price}}.000đ</span>
										</p>
										<button @click="addToCart({{ product.id }})" type="button" class="btn wow fadeInDown animated" onclick="" title="Add to Cart"><span><i class="fa fa-shopping-cart"></i> Add to Cart</span></button>
									</div>
								</div>
							</div>
						</div>							
					{%endfor%}
					{% for product in products%}
					<div class="col-sm-4">
						<div class="product-thumb">
							<div class="image wow fadeInDown animated">
								<a href="{%url 'single_product' product.id %}"><img class="wow fadeInDown animated" src="{{product.imageURL}}" alt="Kundli Dosha" title="Kundli Dosha" width="100%"></a>
								
								<div class="sale"><span class="">Sale</span></div>
								<div class="button-group">
									<div class="inner">
										
										<button type="button" title="Quick View" class="button-quickview"><span>Quick View</span></button>
										<button type="button" title="Add to Wish List" class="button-wishlist"><span>Add to Wish List</span></button>
										<button type="button" title="Compare this Product" class="button-compare"><span>Compare this Product</span></button>
									</div>
								</div>
							</div>
							<div class="caption">
								
								<div class="rate-and-title">
									<h4 class="wow fadeInDown animated"><a href="{%url 'single_product' product.id %}">{{product.name}}</a></h4>
									<div class="rating wow fadeInDown animated">
										{% with ''|center:product.aaaa as range %}
										{% for _ in range %}
										<span><i class="fa fa-star"></i></span>	
										{% endfor %}
										{% endwith %}
										{% with ''|center:product.aaa as range %}
										{% for _ in range %}
											<span><i class="fa fa-star-o"></i></span>
										{% endfor %}
										{% endwith %}
										<a href="" onclick="">({{product.review_times}})</a> 
										<div class="clear"></div>
										<div class="clear"></div>
									</div>
									<p class="price wow fadeInDown animated">
										 <span class="price-new">{{product.price}}.000đ</span>  <span class="price-old">{{product.unsale_price}}.000đ</span>
									</p>
									<button @click="addToCart({{ product.id }})" type="button" class="btn wow fadeInDown animated" onclick="" title="Add to Cart"><span><i class="fa fa-shopping-cart"></i> Thêm Vào Giỏ Hàng</span></button>
								</div>
							</div>
						</div>
					</div>							
				{%endfor%}
					<!-- products end -->
					<!-- Pagination -->
						{% comment %} <div class="clear"></div>
								<div class="pagination-section text-center wow fadeInDown animated">
									<a href="#" class="prev page-numbers"><i class="fa fa-angle-left"></i></a>
									<span class="page-numbers current" aria-current="page">1</span>
									<a href="#" class="page-numbers">2</a>
									<a href="#" class="page-numbers">3</a>
									<a href="#" class="page-numbers">4</a>
									<a href="#" class="page-numbers">5</a>
									<a href="#" class="next page-numbers"><i class="fa fa-angle-right"></i></a>
								</div> {% endcomment %}
						<!-- Pagination End-->
					</div>	
				</div>
				
			</div>	
		</div>	
	</div>	
	
</div>
{% endblock content %}
