{% extends 'store/main.html' %}
{% load static %}
{% block content %}



<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>register</h2>
				<ul>
					<li><a href="{%url 'store'%}">Home</a></li>
					<li><a href="">register</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content" class="cart_page checkout_page register_page">
<!-- cart -->
	<div id="register" class="cart_section checkout_section register_section">
		<div class="container-fluid" id="checkout">
				
			<div class="row billing_and_payment_option wow fadeInDown   animated">

				<!-- Billing Address -->
				<div class="col-sm-6 col-lg-6">
					<div class="login_box">
					<h3>Create Your Account</h3>
						<form method = "POST" action="" class="eb-form eb-mailform form-checkout" novalidate="novalidate">
							{% csrf_token %}
							
							{{form.as_p}}
							{% comment %} {{form.username.label}}
							{{form.username}}
							{{form.email.label}}
							{{form.email}}
							{{form.password1.label}}
							{{form.password1}}
							{{form.password2.label}}
							{{form.password2}} {% endcomment %}
					
							<input type = "submit" class="btn " name = "Create User">
							
							<p class="signInclass"> Already have an account? &nbsp;<a href="{%url 'loginPage' %}">Sign In</a> </p>
						
					</form>
					</div>
				</div>
				<!-- Delivery Address  -->
				<div class="col-sm-6 col-lg-6  wow fadeInDown   animated registration">
					<h3>Benefit of Registration</h3>
					 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
					 
					 <ul>
						<li><i class="fa fa-check"></i> If you are going to use a passage of Lorem Ipsum</li>
						<li><i class="fa fa-check"></i> All the Lorem Ipsum generators on the Internet tend</li>
						<li><i class="fa fa-check"></i> The standard chunk of Lorem Ipsum used since the 1500s</li>
						<li><i class="fa fa-check"></i> a Latin professor at Hampden-Sydney College in Virginia</li>
						<li><i class="fa fa-check"></i> It is a long established fact that a reader </li>
					 </ul>
				</div>
			</div>
			<!-- your shopping cart -->
		</div>	
	</div>	
<!-- cart end-->	
</div>
{% endblock content %}
