{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<title>Fashion Shop | Đăng ký</title>
<section class="main_breadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="breadcrumb-content">
				<h2>Đăng Kí</h2>
				<ul>
					<li><a href="{%url 'store'%}">Trang Chủ</a></li>
					<li><a href="">Đăng Kí</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div id="content" class="cart_page checkout_page register_page">
<!-- cart -->
	<div id="register" class="cart_section checkout_section register_section">
		<div class="container-fluid" id="checkout">
				
			<div class="row billing_and_payment_option wow fadeInDown   animated">

				<!-- Billing Address -->
				<div class="col-sm-6 col-lg-6">
					<div class="login_box">
					<h3>Tạo Tài Khoản</h3>
						<form method = "POST" action="" class="eb-form eb-mailform form-checkout" novalidate="novalidate">
							{% csrf_token %}
							
							{{form.as_p}}
							{% comment %} {{form.username.label}}
							{{form.username}}
							{{form.email.label}}
							{{form.email}}
							{{form.password1.label}}
							{{form.password1}}
							{{form.password2.label}}
							{{form.password2}} {% endcomment %}
					
							<input type = "submit" class="btn " name = "Create User">
							
							<p class="signInclass"> Bạn đã có tài khoản? &nbsp;<a href="{%url 'loginPage' %}">Đăng Nhập</a> </p>
						
					</form>
					</div>
				</div>
				<!-- Delivery Address  -->
				<div class="col-sm-6 col-lg-6  wow fadeInDown   animated registration">
					<h3>Quyền lợi khi đăng kí</h3>
					 <p>Khi đăng kí tài khoản, mọi người sẽ nhận được các quyền lợi </p>
					 
					 <ul>
						<li><i class="fa fa-check"></i> Thêm sản phẩm vào mục yêu thích</li>
						<li><i class="fa fa-check"></i> Thanh toán dễ dàng hơn</li>
						<li><i class="fa fa-check"></i> Gửi nhận xét, đánh giá bài đăng của cửa hàng</li>
						<li><i class="fa fa-check"></i> Hưởng các ưu đãi, quyền lợi của khách hàng thân thiết</li>
						
					 </ul>
				</div>
			</div>
			<!-- your shopping cart -->
		</div>	
	</div>	
<!-- cart end-->	
</div>
{% endblock content %}
