{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<title>Fashion Shop | Sản phẩm</title>
	<section class="main_breadcrumb">
		<div class="container-fluid">
			<div class="row">
				<div class="breadcrumb-content">
					<h2>Chi Tiết Sản Phẩm</h2>
					<ul>
						<li><a href="{%url 'store'%}">Trang Chủ</a></li>
						<li><a href="">Chi Tiết Sản Phẩm</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<div id="content" class="single_products_page">

		<div id="products_products" class="single_products_section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="eb_right single_products_right_side">
							<div class="single_products_images">
								<div class="single_product_image">
									<div class="sp-loading">
										<img src="{{product.imageURL}}" alt="" width="100%">
									</div>
									<div class="sale"><span class="">Sale</span></div>
								</div>
								
							</div>
						</div>
					</div>
					
					
					<div class="col-sm-6">
						<div class="eb_left single_products_left_side">
							<h2>{{product.name}}</h2>
							<div class="rating">
								<p>	
									{% with ''|center:product.aaaa as range %}
									{% for _ in range %}
									<span><i class="fa fa-star"></i></span>	
									{% endfor %}
									{% endwith %}
									{% with ''|center:product.aaa as range %}
									{% for _ in range %}
										<span><i class="fa fa-star-o"></i></span>
									{% endfor %}
									{% endwith %}
										
									({{product.stars}})		  					
									<span class="border"> | </span> 

									<a href="" onclick="">{{product.review_times}} Lượt đánh giá</a> 	  
								</p>
							</div>
							<hr>
							<div class="price-block">
								<div class="price-box">
									<p class="in-stock"><i class="fa fa-check"></i> Còn Hàng</p>
									<p class="special-price"> <span class="price-label">Giá:</span> <span id="product-price-48" class="price"> {{product.price}}.000 đ </span> </p>
									<p class="old-price"> <span class="price-label">Giá Gốc:</span><span class="price">{{product.unsale_price}}.000 đ</span></p>
								</div>
							</div>
							
							<div class="add-to-box">
								<div class="add-to-cart">
									<div class="pull-left">

									</div>
									<button @click="addToCart({{ product.id }})" class="btn btn-cart" title="Add to Cart" type="button">Thêm Vào Giỏ Hàng</button>
								</div>
							</div>
							
							<div class="short-description">
								<h3>Giới Thiệu Sản Phẩm</h3>
								<p> {{product.short_description |linebreaks }}</p>
							</div>
							
							<div class="email-addto-box">
								<ul class="add-to-links">
									<li> <a class="link-wishlist" href="#"><span>Theo Dõi</span></a></li>
									<!-- <li><span class="separator">|</span> <a class="link-compare" href="#"><span>Add to Compare</span></a></li> -->
								</ul>
								<p class="email-friend"><a href="#" class=""><span>Liên Hệ</span></a></p>
						</div>
							<ul class="shipping-pro">
								<li>Giao Hàng Miễn Phí Nội Thành</li>
								<li>1 Tiếng Đổi Hàng</li>
								<li>Khách Hàng Thân Thiết</li>
							</ul>
							
						</div>	
					</div>
				</div>		
				
				<!---- ---------------------->
				<div class="row">
					<div class="product-collateral">
						<div class="add_info">
							<ul id="product-detail-tab" class="nav nav-tabs product-tabs">
								<li> <h3> Mô Tả Thêm Về Sản Phẩm </h3> </li>
							</ul>


							<div id="productTabContent" class="tab-content">
								<div class="tab-pane fade in active" id="product_tabs_description">
									<div class="std">
									<p>{{product.description |linebreaks }} </p>
								</div>
								<br>
								<!-- product tabs description End-->

									<!-- Add Tags End-->
								<div class="tab-pane fade" id="reviews_tabs">
									<!-- <div class="eb-Reviews"> 
										<div>
											<h4 class="eb-Reviews-title">2 reviews for <span>Bacca Bucci Men's Running Shoes</span></h4>
											<ol class="commentlist">
												{%for comment in product.comments.all%}
												<li class="comment">
												<div>
													<img alt="" src="{% static 'assets/image/member/member.png'%}" class="avatar avatar-60 photo">
													<div class="comment-text">
													<div class="ratings">

														</div>
														<p class="meta">
														<strong>{{comment.user.username}}</strong> 
														<span>–</span>{{comment.date_added.date}}
														</p>
														<div class="description"><p>{{comment.description |linebreaks }}</p>
													</div>
												</div>
												</li><!-- #comment-## 
												{%endfor%}
											</ol>
										</div>
									<div> -->
								<div>
									<div class="comment-respond">
										{%if user.username%}
										{% comment %} <h3 >Bình Luận </h3>			 {% endcomment %}
											
											<div class="comment-form-rating">
												<label id="rating">Đánh Giá</label>

											</div>
											{%if review.first_time%}
											<div class="comment-form-rating">
												
												<p class="stars">
											<span>
												<a class="star-1" href="{%url 'review_stars' pk=product.id stars=1 %}">1</a>
												<a class="star-2" href="{%url 'review_stars' pk=product.id stars=2 %}">2</a>
												<a class="star-3" href="{%url 'review_stars' pk=product.id stars=3 %}">3</a>
												<a class="star-4" href="{%url 'review_stars' pk=product.id stars=4 %}">4</a>
												<a class="star-5" href="{%url 'review_stars' pk=product.id stars=5 %}">5</a>
											</span> 
										</p>
										</div>
											{%else%}
												<p>Bạn đã đánh giá sản phẩm này <strong>{{review.stars}}</strong> sao</p>
												{% comment %} <label id="rating">Đánh giá lại</label> {% endcomment %}
											<div class="comment-form-rating">

													<p class="stars">


												<span>
													<a class="star-1" href="{%url 'review_stars' pk=product.id stars=1 %}">1</a>
													<a class="star-2" href="{%url 'review_stars' pk=product.id stars=2 %}">2</a>
													<a class="star-3" href="{%url 'review_stars' pk=product.id stars=3 %}">3</a>
													<a class="star-4" href="{%url 'review_stars' pk=product.id stars=4 %}">4</a>
													<a class="star-5" href="{%url 'review_stars' pk=product.id stars=5 %}">5</a>
												</span> 
											</p>
										</div>
											{%endif%}
											<h3> Bình Luận </h3>
											<ol class="commentlist">
												{%for comment in product.comments.all%}
												<li class="comment">
													<div>
														<img alt="" src="{% static 'assets/image/member/member.png'%}" class="avatar avatar-60 photo">
														<div class="comment-text">
		
															
															<p class="meta">
																<strong>{{comment.user.username}}</strong> 
																<span>–</span> <time>{{comment.date_added.date}}</time>
															</p>
															<div class="description"><p>{{comment.description |linebreaks }}</p>
															
															</div>
														</div>
													</div>
												</li><!-- #comment-## -->
												{%endfor%}
											</ol>
											<ol class="commentlist">
												{%for comment in blog.comments.all%}
												<li class="comment">
													<div>
														<img alt="" src="{% static 'assets/image/member/member.png'%}" class="avatar avatar-60 photo">
														<div class="comment-text">
		
															
															<p class="meta">
																<strong>{{comment.user.username}}</strong> 
																<span>–</span> <time>{{comment.date_added.date}}</time>
															</p>
															<div class="description"><p>{{comment.description |linebreaks }}</p>
															
															</div>
														</div>
													</div>
												</li><!-- #comment-## -->
												{%endfor%}
											</ol>
											<form action="" method="POST" class="comment-form" novalidate="">
												{% csrf_token%}
											
											<br>
											<p class="comment-form-comment">
												<label>Bình Luận Của Bạn <span class="required">*</span></label>
												<textarea id="comment" name="comment" cols="45" rows="4" required=""></textarea>
											</p>
											
											<p class="comment-form-author">
											
											<p class="form-submit">
											
											<input name="submit" type="submit" id="submit" class="btn submit" value="Submit"> 
											</p>
										</form>
										{%else%}
										<h3> Bình Luận </h3>
										<ol class="commentlist">
											{%for comment in product.comments.all%}
											<li class="comment">
												<div>
													<img alt="" src="{% static 'assets/image/member/member.png'%}" class="avatar avatar-60 photo">
													<div class="comment-text">
	
														
														<p class="meta">
															<strong>{{comment.user.username}}</strong> 
															<span>–</span> <time>{{comment.date_added.date}}</time>
														</p>
														<div class="description"><p>{{comment.description |linebreaks }}</p>
														
														</div>
													</div>
												</div>
											</li><!-- #comment-## -->
											{%endfor%}
										</ol>
										{%endif%}
											

									</div><!-- #respond -->
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>

				</div>
					
				<!---- ---------------------->
				
				<!-- relative products -->
				
				<!-- Our products  -->
				<div id="products" class="products_section related_product">
						<div class="heading_wrapper wow fadeInDown animated">
							<h2 class="wow fadeInDown animated">Sản Phẩm Tương Tự</h2>
						</div>
						<div class="row">
							<div id="related_product" class="owl-carousel owl-theme">
								{%for product in products %}
								<div class="item">
									<div class="col-sm-12">
										<div class="product-thumb">
											<div class="image wow fadeInDown animated">
												<a href="{%url 'single_product' product.id %}"><img class="wow fadeInDown animated" src="{{product.imageURL}}" alt="Kundli Dosha" title="Kundli Dosha" width="100%"></a>
												
												<div class="sale"><span class="">Còn Hàng</span></div>
												<div class="button-group">
													<div class="inner">
														<button type="button" title="Quick View" class="button-quickview"><span>Quick View</span></button>
														<button type="button" title="Add to Wish List" class="button-wishlist"><span>Add to Wish List</span></button>
														<button type="button" title="Compare this Product" class="button-compare"><span>Compare this Product</span></button>
													</div>
												</div>
											</div>
											<div class="caption">
												
												<div class="rate-and-title">
													<h4 class="wow fadeInDown animated"><a href="{%url 'single_product' product.id %}">{{product.name}}</a></h4>
													<div class="rating wow fadeInDown animated">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
														<i class="fa fa-star-o"></i>
														<i class="fa fa-star-o"></i>
														<div class="clear"></div>
													</div>
													<p class="price wow fadeInDown animated">
														
														<span class="price-new">{{product.price}}.000đ</span>
														<span class="price-old">{{product.unsale_price}}.000đ</span>   
													</p>
													<button @click="addToCart({{ product.id }})" type="button" class="btn wow fadeInDown animated" onclick="" title="Add to Cart"><span><i class="fa fa-shopping-cart"></i> Thêm Vào Giỏ Hàng</span></button>
													
												</div>
											</div>
										</div>
									</div>				
								</div>				
								{%endfor%}	
								<!-- products end -->
							</div>
						</div>
				</div>
			
				<!-- Products End-->
				
				<!-- relative products  end-->
				
			</div>	
		</div>
	</div>	
</div>
</div>
</div>
</div>

{% endblock content %}
{% block scripts %}

<script >

	$(document).ready(function(){
		$('#additional_silder_products_images').owlCarousel({	
			items:5,
			itemsDesktop:[1199,3],
			itemsDesktopSmall:[992,2],
			itemsTablet:[768,3],
			itemsMobile:[600,2],
			autoPlay: 6000,
			pagination: false,
			navigation: true,
			navigationText: ['<i class="fa fa-angle-left fa-5x"></i>', '<i class="fa fa-angle-right fa-5x"></i>']
		});
	});
	
	$(document).ready(function(){
		$('#related_product').owlCarousel({	
			items: 4,
			itemsDesktop:[1199,3],
			itemsDesktopSmall:[992,3],
			itemsTablet:[768,2],
			itemsMobile:[450,1],
			autoPlay: 10000,
			pagination: false,
			navigation: true,
			navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>']
		});
	});
	
	$(window).load(function() {
		$('.sp-wrap').smoothproducts();
	});
	
</script>

<script  src="assets/vendor/smoothproducts/smoothproducts.min.js"></script>

{% endblock %}
