
{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{%for message in messages%}
<h4 class="container" id = "messages" class="custom-control-label register-remember"> {{message}} </h4>
{%endfor%}
<section>
	<div id="slideWiz" class="slideWiz" style="width: 100%; height: 500px;"></div>
	{% comment %} <img src="/static/assets/image/silder/slider-2.jpg" width="100%" alt="silder images" title="silder images"> {% endcomment %}
</section>
<title>Fashion Shop | Trang chủ</title>
<!-- silder End -->
<!-- about Us -->
	<div id="about_us" class="about_section" style="background-image: url({% static 'assets/image/about_img.jpg'%});width: 100%;background-repeat: no-repeat; background-size: cover;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<div class="about_text wow slideInLeft">
						<h1>Hurry Up!</h1>
						<h2>Hurry Up! Ưu đãi ngay trong hôm nay</h2>
						<p>Trong ngày duy nhất hôm nay, mọi sản phẩm giày từ thương hiệu nike sẽ được siêu sale từ 50% kèm theo nhiều khuyến mãi lớn.</p>
						<p>Chương trình hè đến xuân về, mua 1 tặng 1 tính tiền 2.</p>
						
						<!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p> -->
						
						<!--<h3>Contact Us</h3>
						<h2 class="about_contact"><i class="fa fa-volume-control-phone"></i> +91-123-456-7890</h2>-->
						<a href="{% url 'products'%}" class="btn">Mua Sắm Ngay</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="about_images wow slideInRight">
						<!--<img src="{% static 'assets/image/about_img.jpg'%}" width="100%" alt="silder images" title="silder images">-->
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- about Us end-->

<!-- Our products  -->
	
	<div id="products" class="products_section">
		<div class="container-fluid">
			<div class="heading_wrapper wow fadeInDown animated">
				<h2 class="wow fadeInDown animated">Sản Phẩm Nổi Bật</h2>
				<!-- <p class="wow fadeInDown animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p> -->
			</div>
			<div class="row">
				<div id="product" class="owl-carousel owl-theme">
			<!--1 -->
				{%for product in products1 %}
				<div class="item">
					<div class="col-sm-12">
						<div class="product-thumb">
							<div class="image wow fadeInDown animated">
								<a href="{%url 'single_product' product.id %}"><img class="wow fadeInDown animated" src="{{product.imageURL}}" alt="Kundli Dosha" title="Kundli Dosha" width="100%"></a>
								
								<div class="sale"><span class="">Sale</span></div>
								<div class="button-group">
									<div class="inner">
										<button type="button" title="Quick View" class="button-quickview"><span>Quick View</span></button>
										<button type="button" title="Add to Wish List" class="button-wishlist"><span>Add to Wish List</span></button>
										<button type="button" title="Compare this Product" class="button-compare"><span>Compare this Product</span></button>
									</div>
								</div>
							</div>
							<div class="caption">
								
								<div class="rate-and-title">
									<h4 class="wow fadeInDown animated"><a href="{%url 'single_product' product.id %}">{{product.name}}</a></h4>
									<div class="rating wow fadeInDown animated">
										{% with ''|center:product.aaaa as range %}
										{% for _ in range %}
										<span><i class="fa fa-star"></i></span>	
										{% endfor %}
										{% endwith %}
										{% with ''|center:product.aaa as range %}
										{% for _ in range %}
											<span><i class="fa fa-star-o"></i></span>
										{% endfor %}
										{% endwith %}
										<a href="" onclick="">({{product.review_times}})</a> 
										<div class="clear"></div>
									</div>
									<p class="price wow fadeInDown animated">
										{% comment %} <span class="price-old">$123.20</span>  {% endcomment %}
										<span class="price-new">{{product.price}}.000đ</span>  <span class="price-old">{{product.unsale_price}}.000đ</span>
									</p>
									<button @click="addToCart({{ product.id }})" type="button" class="btn wow fadeInDown animated" onclick="" title="Add to Cart"><span><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</span></button>
									
								</div>
							</div>
						</div>
					</div>				
				</div>				
				{%endfor%}
				<!-- products end -->
				</div>

			</div>
		</div>
	</div>



<!-- Products End-->


<!-- Our Astrologers Work for You -->
	<div id="website_visitors" class="astrologers-work">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<div class="astrologers_title">
						<h2 class="wow fadeInDown animated">Bạn chính là chủ của Fashion Shop</h2>
						<p class="wow fadeInDown animated">Đội ngũ của chúng tôi luôn giao hàng 24/24</p>
						<p class="wow fadeInDown animated">Đội ngũ nhân viên của chúng tôi luôn sẵn sàng giúp bạn tìm ra gu thời trang phù hợp và mang lại hạnh phúc trong cuộc sống của bạn.</p>
					</div>
				</div>
				
				<div class="col-sm-6">
					<div class="astrologers_visitors">
						<div class="col-sm-6">
							<div class="astrologers_experience">
								<h3 class="wow fadeInDown animated number-counter" data-count-from="0" data-count-to="10" data-count-speed="30"></h3>
								<h5 class="wow fadeInDown animated">Kinh Nghiệm Kinh Doanh (Tháng)</h5>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="astrologers_experience">
								<h3 class="wow fadeInDown animated number-counter" data-count-from="0" data-count-to="15" data-count-speed="30"></h3>
								<h5 class="wow fadeInDown animated">Nhãn Hiệu Tốt Nhất</h5>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="astrologers_experience">
								<h3 class="wow fadeInDown animated number-counter" data-count-from="0" data-count-to="17" data-count-speed="30"></h3>
								<h5 class="wow fadeInDown animated">Giá cả hợp lí</h5>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="astrologers_experience">
								<h3 class="wow fadeInDown animated number-counter" data-count-from="0" data-count-to="100" data-count-speed="30"></h3>
								<h5 class="wow fadeInDown animated">Số người đang truy cập</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Our products  -->
	<div id="products" class="products_section">
		<div class="container-fluid">
			<div class="heading_wrapper wow fadeInDown animated">
				<h2 class="wow fadeInDown animated">Sản Phẩm Mới</h2>
				<!-- <p class="wow fadeInDown animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p> -->
			</div>
			<div class="row">
				<div id="new_category" class="owl-carousel owl-theme">
					{%for product in products %}
					<div class="item">
						<div class="col-sm-12">
							<div class="product-thumb">
								<div class="image wow fadeInDown animated">
									<a href="{%url 'single_product' product.id %}"><img class="wow fadeInDown animated" src="{{product.imageURL}}" alt="Kundli Dosha" title="Kundli Dosha" width="100%"></a>
									
									<div class="sale"><span class="">Còn hàng</span></div>
									<div class="button-group">
										<div class="inner">
											<button type="button" title="Quick View" class="button-quickview"><span>Quick View</span></button>
											<button type="button" title="Add to Wish List" class="button-wishlist"><span>Add to Wish List</span></button>
											<button type="button" title="Compare this Product" class="button-compare"><span>Compare this Product</span></button>
										</div>
									</div>
								</div>
								<div class="caption">
									
									<div class="rate-and-title">
										<h4 class="wow fadeInDown animated"><a href="{%url 'single_product' product.id %}">{{product.name}}</a></h4>
										<div class="rating wow fadeInDown animated">
											{% with ''|center:product.aaaa as range %}
											{% for _ in range %}
											<span><i class="fa fa-star"></i></span>	
											{% endfor %}
											{% endwith %}
											{% with ''|center:product.aaa as range %}
											{% for _ in range %}
												<span><i class="fa fa-star-o"></i></span>
											{% endfor %}
											{% endwith %}
											<a href="" onclick="">({{product.review_times}})</a> 
											<div class="clear"></div>
										</div>
										<p class="price wow fadeInDown animated">
											{% comment %} <span class="price-old">$123.20</span>  {% endcomment %}
											<span class="price-new">{{product.price}}.000đ</span> <span class="price-old">{{product.unsale_price}}.000đ</span> 
										</p>
										<button @click="addToCart({{ product.id }})" type="button" class="btn wow fadeInDown animated" onclick="" title="Add to Cart"><span><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</span></button>
										
									</div>
								</div>
							</div>
						</div>				
					</div>				
					{%endfor%}
				<!-- products end -->
				</div>
			</div>
		</div>
	</div>

<!-- Products End-->

<!-- testimonial -->
	<div id="testimonials" class="testimonial_section">
		<div class="container-fluid">
			<div class="heading_wrapper wow fadeInDown animated">
				<h2 class="wow fadeInDown animated">Khách Hàng Nói Gì Về Cửa Hàng</h2>
				<!-- <p class="wow fadeInDown animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p> -->
			</div>
				<div class="row">
					<div id="testimonial" class="owl-carousel owl-theme">
						<div class="item">
							<div class="col-sm-12">
								<div class="testimonial_inner_matter">
									<img src="{% static 'assets/image/testimonial/1.jpg'%}" class="wow fadeInDown animated">
									<p class="wow fadeInDown animated">Sản phẩm theo trend, giá cả hợp lí.</p>
									<h5 class="wow fadeInDown animated">Nguyễn Văn A</h5>
									<h6 class="wow fadeInDown animated">Nữ</h6>
								</div>
							</div>
						</div>
						
						<div class="item">
							<div class="col-sm-12">
								<div class="testimonial_inner_matter">
									<img src="{% static 'assets/image/testimonial/2.jpg'%}" class="wow fadeInDown animated">
									<p class="wow fadeInDown animated">Nhân viên thân thiện, sẽ quay lại.</p>
									<h5 class="wow fadeInDown animated">Nguyễn Thị B</h5>
									<h6 class="wow fadeInDown animated">Nữ</h6>
								</div>
							</div>
						</div>
						
						<div class="item">
							<div class="col-sm-12">
								<div class="testimonial_inner_matter">
									<img src="{% static 'assets/image/testimonial/3.jpg'%}" class="wow fadeInDown animated">
									<p class="wow fadeInDown animated">Ship nhanh, giày đẹp</p>
									<h5 class="wow fadeInDown animated">Trần Thế C</h5>
									<h6 class="wow fadeInDown animated">Nam</h6>
								</div>
							</div>
						</div>
						
						<div class="item">
							<div class="col-sm-12">
								<div class="testimonial_inner_matter">
									<img src="{% static 'assets/image/testimonial/4.jpg'%}" class="wow fadeInDown animated">
									<p class="wow fadeInDown animated">5*</p>
									<h5 class="wow fadeInDown animated">Trần Thị D</h5>
									<h6 class="wow fadeInDown animated">Nữ</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
<!-- testimonial end -->

<!-- Blog -->
	<div id="blogs" class="blog_section">
		<div class="container-fluid">
			<div class="heading_wrapper wow fadeInDown animated">
				<h2 class="wow fadeInDown animated">Bài Viết</h2>
				<!-- <p class="wow fadeInDown animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p> -->
			</div>
				<div class="row">
					<div id="blog" class="owl-carousel owl-theme">
						{%for blog in blogs%}
						<div class="item">
							<div class="col-sm-12">
								<div class="blog_inner_matter">
									<div class="image">
										<a href="{%url 'blog_details' blog.id %}"><img src="{{blog.imageURL}}" class="wow fadeInDown animated"></a>
										<div class="blog_date  wow fadeInDown animated">
											<span>{{blog.time.date}}<span>
										</div>
									</div>
									<div class="admin_and_comments wow fadeInDown animated">
										<span class="blog_admin"><span><i class="fa fa-user-o"></i> Đăng bởi:</span> <span><a href="">Admin</a></span></span>
										{% comment %} <span class="comments_date"><span><i class="fa fa-comments-o"></i> 10 comments</span></span> {% endcomment %}
									</div>
									<h3 class="wow fadeInDown animated"><a href="{%url 'blog_details' blog.id %}">{{blog.title}}</a></h3>
									<p class="wow fadeInDown animated">{{blog.short_description}}</p>
									<a href="{%url 'blog_details' blog.pk %}" class="btn wow fadeInDown animated" >Xem Thêm</a>
								</div>
							</div>
						</div>
						{%endfor%}
					</div>
				</div>
			</div>
	</div>

<!-- Blog End -->

{% endblock content %}
{% block scripts %}
<script>
	
	$(document).ready(function () {
	
		$('#slideWiz').slideWiz({
			auto: true,
			speed: 5000,
			row: 12,
			col: 35,
			animation: [
				'flip',
				'slice',
				'box3D',
			   
				'fade',
				'glide',
				'card'
			],
			file: [
				{
					src: {
						main: "static/assets/image/silder/slider-2.jpg",
						cover: "static/assets/image/silder/slider-1.jpg"
					},
					title: 'Những đôi giày bền nhất',
					desc: "Cửa hàng đem đến một không gian giày đa dạng, phong phú, gồm nhiều thương hiệu uy tín: adidas,nike,jordan,...",
					descLength: 220,
					button: {
						text: 'Mua Sắm Ngay',
						url: '{% url 'products'%}',
						class: 'btn btn-medium btn-primary'
					}
				},
				{
					src: {
						main: "static/assets/image/silder/slider-6.jpg",
						cover: "static/assets/image/silder/slider-2.jpg"
					},
					title: 'Đem đến nhiều sự lựa chọn',
					// desc: "",
					button: {
						text: 'Mua Sắm Ngay',
						url: '#',
						class: 'btn btn-medium btn-primary'
					}
				},
				{
					src: {
						main: "static/assets/image/silder/slider-1.jpg",
						cover: "static/assets/image/silder/slider-3.jpg"
					},
					title: 'Thay đổi phong cách của bạn',
					// desc: "If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. or randomised words which don't look even slightly believable.",
					descLength: 190,
					button: {
						text: 'Mua Sắm Ngay',
						url: '#',
						class: 'btn btn-medium btn-primary'
					}
				},
				{
					src: {
						main: "static/assets/image/silder/slider-2.jpg",
						cover: "static/assets/image/silder/slider-6.jpg"
					},
					title: 'Phong cách hiện đại, mới mẻ, năng động',
					// desc: "",
					button: {
						text: 'Mua Sắm Ngay',
						url: false,
						class: 'btn btn-medium btn-primary'
					}
				}
			]
	
		});
	
	});
	
</script>

{% endblock %}
